{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    moins d'une minute à lire
  {% elsif words < 360 %}
    une minute à lire
  {% else %}
    {{ words | divided_by:180 }} minutes à lire
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
  moins d'une minute à lire
  {% elsif words < 360 %}
  une minute à lire
  {% else %}
    {{ words | divided_by:180 }} minutes à lire
  {% endif %}
{% endif %}
